.app_purpul_theme {
  --bg-color: #F4F4FB;
  --inverted-bg-color: #5E69EE;
  --primary-color: #39AFEA;
  --secondary-color: #0449e0;
  --inverted-primary-color:#39AFEA;
  --inverted-secondary-color: #39AFEA;
}
// 5E69EE